<template>
  <template v-for="item in props.list" :key="item.id">
    <el-menu-item :index="item.pageHtml">
      {{ item.name }}
    </el-menu-item>
    
    <!-- 子菜单内具有下级菜单，使用el-sub-menu渲染分级 -->
    <el-sub-menu v-if="item.list && item.list.length" :key="item.id" :index="item.id">
      <template #title>
        <span>{{ item.name }}</span>
      </template>
 
      <!-- 递归组件 - 此组件为当前组件 -->
      <MenuItem :list="item.list"></MenuItem>
    </el-sub-menu>
  </template>
</template>
 
<script lang="ts" setup>
import * as Type from './type'
 
// 定义props接收的字段
interface Props {
  list: Type.MenuList[]
};
 
// 获取父组件传进来的子菜单列表
const props = defineProps<Props>();
</script>