<template>
    <template v-for="item in menu" :key="item.id">
      <!-- 一级菜单跳转 - 具有能跳转路由的功能 -->
      <el-menu-item v-if="item.pageHtml" :index="item.pageHtml">
        {{ item.name }}
      </el-menu-item>
      <!-- 分级菜单 - 此一级菜单不应具有跳转功能 -->
      <el-sub-menu v-else :index="item.id">
        <template #title>
          <span>{{ item.name }}</span>
        </template>
        <!-- 下级菜单 -->
        <MenuItem :list="item.list"></MenuItem>
      </el-sub-menu>
    </template>
  </template>
   
  <script lang="ts" setup>
  import MenuItem from '@/components/layout/MenuItem.vue';
  import { MenuList } from './type'
  import { ref } from 'vue'
   
  const _menu = JSON.parse(sessionStorage.getItem('MENU') || '[]')
  const menu: MenuList[] = ref(_menu)
  </script>